:root {
    --bg-color: #3782fa;
    --white-color:#f0f6ff;
    --yekan-font: 'Yekan';
    --title-color:#9ec5ff;
    --tab-hover-color:#7099ff;
    --center-align:center;
    --right-align:right;
}   